.btns_container {
  display: flex;
  gap: 1rem;
  margin-top: 30px;
  width: 100%;
  justify-content: space-between;
}
.btns_container button {
  border: none;
  background-color: rgb(115, 172, 22);
  width: 200px;
  height: 40px;
  color: white;
}
.cart_total {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  gap: 1.5rem;
  background-color: brown;
  width: 200px;
}
.cart_total p {
  font-size: 0.8rem;
}
