.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  width: fit-content;
  grid-template-columns: 60px 60px;
  grid-template-rows: 40px 40px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 500ms ease-in;
  transform-origin: 0 0;
}
.time {
  width: 60px;
  height: 40px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time p {
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 62rem) {
  .time {
    width: 50px;
    height: 30px;
  }
}
@media (max-width: 56rem) {
  .time {
    width: 60px;
    height: 40px;
  }
}
@media (max-width: 48rem) {
  .time {
    width: 60px;
    height: 40px;
  }
}
