.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding-bottom: 40px;
}
.heading {
  padding-bottom: 40px;
}
.heading h1 {
  font-size: 1.5rem;
  text-align: center;
}
.heading p {
  width: 600px;
  text-align: center;
}
.sub_container {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  width: 90vw;
  gap: 1rem;
  transition: all 500ms cubic-bezier(0.5, 0.25, 0.55, 0.85);
}
@media (max-width: 37.5rem) {
  .container {
    grid-template-rows: auto;
  }
}
.left,
.right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.left {
  left: 1%;
}
.right {
  right: 2%;
}
.left:hover,
.right:hover {
  background-color: rgb(153, 214, 22);
}
