.main {
  background-color: rgb(10, 30, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  gap: 1rem;
  border-bottom: solid 1px rgb(86, 86, 86);
  color: rgb(131, 117, 105);
}
.form {
  display: flex;
  gap: 2rem;
}
.input {
  width: 480px;
  height: 40px;
  border-radius: 100px;
  border: solid grey 1px;
  text-indent: 20px;
  background-color: rgb(197, 197, 197);
}
.btn {
  width: 260px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: rgb(92, 167, 17);
  color: white;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  cursor: pointer;
  transform: scale(105%);
}
@media (max-width: 62rem) {
  .input {
    width: 380px;
  }
  .btn {
    width: 160px;
  }
  h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 48rem) {
  .input {
    width: 280px;
  }
}
@media (max-width: 37.5rem) {
  .form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .input {
    height: 30px;
  }
  .btn {
    width: 100px;
    height: 30px;
  }
  h1 {
    font-size: 1rem;
  }
}
